$header: #436372;
$footer: #7b7b7b;
$footer-title: #1f2044;
$title: #191919;

%Rubik-Regular-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%Rubik-Medium-500 {
  font-family: 'Rubik-Regular';
  font-weight: 500;
}

%DMSans-Regular-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%DMSans-Medium-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500; 
}

%DMSans-Bold-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700; 
}

%Poppins-Bold {
  font-family: 'Poppins-Bold';
  font-weight: 700;
}